<div id="homeWrapper">
  <header>
    <h1>Bienvenue</h1>
    <span>sur mon premier projet Angular 6</span>
  </header>

  <section>
    <ul>
      <li>
        <a routerLink="users">
          <i class="material-icons">supervised_user_circle</i>
          <p>Découvrez nos utilisateurs</p>
        </a>
      </li>
      <li>
        <a routerLink="posts">
            <i class="material-icons">message</i>
            <p>Découvrez nos articles</p>
        </a>
      </li>
      <li>
          <a routerLink="map">
              <i class="material-icons">map</i>
              <p>Découvrez notre carte d'utilisateurs</p>
          </a>
      </li>
    </ul>
  </section>
</div>